<%= render "shared/page_title", title: "User #{@user.email}'s Profile" %>
<div class="row">
  <div class="col-md-4 col-md-offset-4 center">
    <%= gravatar_for @user, size: 150 %>
  </div>
</div>

<% if @user.projects.count != 0 %>
  <h4 align="center"> 
    <%if @user.firstname  %>
      <%= @user.firstname %>'s projects
    <% else %>
      User's projects
    <% end %>
    </h4>
  <div align="center">

  </div>
    <%= render "projects/project", obj: @user_projects %>
  <div align="center">
  </div>
<% else %>
<h4 align="center">No project yet!</h4>
<% end %>